table {
  text-align: center;
  border-collapse: collapse;
  border-radius: 3px;
}

td,
th {
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  tbody > tr:hover {
    background-color: var(--table-cell-hover);
  }

  tbody > tr > td:nth-child(2):hover {
    opacity: 0.7;
  }

  tbody > tr > td:nth-child(2) {
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  tbody > tr > td:nth-child(2):active {
    opacity: 0.5;
  }
}

thead > tr {
  font-weight: bold;
  font-size: 1.3rem;
}

td,
th {
  white-space: nowrap;
}

.table-container {
  overflow-x: auto;
}
